<template>
  <v-app>
    <v-main>
        <v-col cols="12">
            <v-row justify="center">
                <v-col cols="4">
                    <v-row justify="center" style="margin-top:10px;">
                        <v-date-picker v-model="picker"></v-date-picker>
                    </v-row>
                    <v-text-field v-model="cantidad" placeholder="Ingrese un monto"></v-text-field>
                    <div v-if="errors != null" class="div-with-errors">
                        <span v-for="fi in errors.monto" :key="fi" style="margin-bottom:10px;">
                            <span class="red--text">* {{ fi }}</span>
                        </span>
                    </div>
                    <span v-if="itemEdit">
                        <v-btn elevation="2" @click="editar"> Editar </v-btn>
                        <v-btn elevation="2" @click="cancelarEdit"> Cancelar </v-btn>
                    </span>
                    <span v-else>
                        <v-btn elevation="2" @click="agregar"> Agregar </v-btn>
                    </span>
                </v-col>

                <v-col cols="8">
                    <div id="chartdiv"></div>
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="12">
            <v-data-table
                :headers="headers"
                :items="desserts"
                sort-by="calories"
                class="elevation-1"
            >
                <template v-slot:top>
                <v-toolbar
                    flat
                >
                    <v-toolbar-title>My CRUD</v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog
                        v-model="dialog"
                        max-width="500px"
                    >
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Esta seguro de eliminar este elemento?</v-card-title>
                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-col>
    </v-main>
  </v-app>
</template>

<script>

import * as am5 from "@amcharts/amcharts5";
import * as am5xy from "@amcharts/amcharts5/xy";
import am5themes_Animated from "@amcharts/amcharts5/themes/Animated";
import axios from 'axios';
import dayjs from 'dayjs';
var customParseFormat = require('dayjs/plugin/customParseFormat')

dayjs.extend(customParseFormat);

// am5.useTheme(am5themes_animated);

export default {
    data() {
        return {
            picker: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
                .toISOString()
                .substr(0, 10),
            chart: {},
            series: {},
            chartData: [],
            cantidad: null,
            errors: null,
            search: '',
            headers: [
                { text: 'Id', value: 'id' },
                { text: 'Fecha', value: 'date' },
                { text: 'Monto', value: 'value' },
                { text: 'Acciones', value: 'actions', sortable:false },
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            },
            defaultItem: {
                name: '',
                calories: 0,
                fat: 0,
                carbs: 0,
                protein: 0,
            },
            itemEdit:false,
            dialogDelete:false,
            dialog:false,
            itemUpdated:{},
            itemDelete:{},
        };
    },
    methods: {
        agregar() {
            console.log('agregar');
            let json = {
                date: Date.parse(this.picker) + 90000000,
                monto: parseInt(this.cantidad)
            }
            axios.post('/guardar', json).then(res => {
                this.errors = null;
                this.cantidad = null;
                this.chartData = res.data.datos;
                this.series.data.setAll(this.chartData);
                let postres = res.data.datos.map(el => {
                    let rObj = el
                    rObj.date = dayjs(el.date).format('DD/MM/YYYY');
                    return rObj
                });
                this.desserts = postres;
            }).catch(err => {
                this.errors = err.response.data.errors;
                console.log(this.errors + 'errors');
            });
        },
        editar(){
            let json = {
                id: this.itemUpdated.id,
                monto: this.cantidad,
                date: Date.parse(this.picker) + 90000000
            }
            axios.post('/editar', json).then(res => {
                this.errors = null;
                this.cantidad = null;
                this.itemEdit = {};
                this.chartData = res.data.datos;
                this.series.data.setAll(this.chartData);
                let postres = res.data.datos.map(el => {
                    let rObj = el
                    rObj.date = dayjs(el.date).format('DD/MM/YYYY');
                    return rObj
                });
                this.desserts = postres;
            }).catch(err => {
                console.log(err);
            });
        },
        cancelarEdit(){
            this.itemEdit = false;
            this.cantidad = null;
            this.picker = new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10);
        },
        editItem (item) {
            this.itemEdit = true;
            this.itemUpdated = item;
            this.cantidad = item.value;
            this.picker = dayjs(item.date, "DD/MM/YYYY").format('YYYY-MM-DD');
        },
        getDatos(){
            axios.get('/getDatos').then(res => {
                this.chartData = res.data.datos;   
                this.series.data.setAll(this.chartData);
                let postres = res.data.datos.map(el => {
                    let rObj = el
                    rObj.date = dayjs(el.date).format('DD/MM/YYYY');
                    return rObj
                });
                this.desserts = postres;
            }).catch(err => {
                console.log(err);
                this.errors = err.response.data.errors;
                console.log(this.errors);
            });
        },
        deleteItem (item) {
            this.dialogDelete = true
            this.itemDelete = item;
        },
        deleteItemConfirm () {
            axios.post('/delete', this.itemDelete).then(res => {
                this.chartData = res.data.datos;   
                this.series.data.setAll(this.chartData);
                let postres = res.data.datos.map(el => {
                    let rObj = el
                    rObj.date = dayjs(el.date).format('DD/MM/YYYY');
                    return rObj
                });
                this.desserts = postres;
                this.dialogDelete = false;
            }).catch(err => {
                console.log(err);
            })
        },
        closeDelete () {
            this.dialogDelete = false;
            this.itemDelete = {};
        },
    },
    mounted(){
        this.getDatos();
        const vm = this;
        am5.ready(function () {
            console.log(vm.chartData);
            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            let root = am5.Root.new("chartdiv");

            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


            // Create chart
            // https://www.amcharts.com/docs/v5/charts/xy-chart/
            let chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX"
            }));


            // Add cursor
            // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                behavior: "none"
            }));
            cursor.lineY.set("visible", false);

            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                maxDeviation: 0.2,
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {}),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererY.new(root, {})
            }));


            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            let series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueY}"
                })
            }));


            // Add scrollbar
            // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
            chart.set("scrollbarX", am5.Scrollbar.new(root, {
                orientation: "horizontal"
            }));

            // Set data
            series.data.setAll(vm.chartData);


            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);

            vm.chart = chart;
            vm.series = series;
        }); // end am5.ready()
    }
};
</script>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        max-width: 100%;
        background-color: white;
    }
</style>